{{ define "contact" }}
{{ template "header_with_quote" }}

<body>
<div class="container">
    <div class="row">
        <div class="eight columns">
            <div class="row u-pull-right">
                <p>Email: <a href="mailto:nkhumphreys@gmail.com" target="_top">nkhumphreys@gmail.com</a></p>
                <p>Github: <a href="https://github.com/nkhumphreys">github/nkhumphreys</a></p>

                <p>Twitter: <a href="https://twitter.com/nkhumphreys">@nkhumphreys</a></p>
            </div>
        </div>
    </div>
</div>
{{ template "footer" }}
</body>
{{ end }}
