{{ define "header" }}
<head>
  <meta charset="utf-8">
  <meta name="description" content="The blog and documented insanity spiral of Nathan Humphreys">
  <meta name="author" content="nkhumphreys">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/foghorn.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/img/favicon.png">
  <title>The Random Ramblings of NKHumphreys</title>
</head>
{{ end }}
