{{ define "index" }}
{{ template "header_with_quote" }}

<body>
<div class="container">
<h3>Me</h3>
<ul>
    <li>Lead Backend & API Engineer @ <a href="https://zenmate.com">ZenMate</a></li>
    <li>From Manchester, Living in Berlin</li>
    <li>Drummer</li>
    <li>Studied <em>Physics with Astrophysics</em> @ The University of Manchester</li>
    <li>Just enough education to perform</li>
</ul>
<h3>This Site</h3>
<ul>
    <li>My random thoughts</li>
    <li>Simple design and implementation, because I am not intelligent enough to do anything more complicated</li>
    <li>Written in Go</li>
    <li>I write my blog posts in Vim, and then post them with cURL. I like Vim, so I use it</li>
    <li><a href="https://github.com/nkhumphreys/golang_blog">Open Source</a> - feel free to clone it and use it</li>
</ul>
</div>
{{ template "footer" }}
</body>
{{ end }}
